venv/
env/
*.pyc
__pycache__/
__pytest_cache__/
.pytest_cache/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.DS_Store
playground_outfit_builder.py
playground_image.py
img1.jpg
img2.jpg
img3.jpg
.env
.coverage