# ---------- Telegram ----------
aiogram==3.23.0
magic-filter==1.0.12

# ---------- Async / HTTP ----------
aiohttp==3.13.2
aiofiles==25.1.0
requests==2.32.5

# ---------- Database ----------
SQLAlchemy==2.0.45
asyncpg
psycopg2-binary

# ---------- Scheduler ----------
apscheduler

# ---------- Images / CV ----------
pillow==12.0.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
scikit-image==0.25.2
PyMatting==1.1.14
rembg==2.0.69
onnxruntime==1.23.2

# ---------- ML stack ----------
joblib==1.5.2
scikit-learn==1.7.2
scipy==1.16.3
numba==0.63.1
llvmlite==0.46.0
pandas==2.3.3

# ---------- Utils ----------
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
typing_extensions==4.15.0
